.dashboardContainer {
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 2px 20px rgba(25, 189, 118, 0.12);
  padding: 36px 28px;
  max-width: 900px;
  margin: 40px auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.miniTitle {
  font-size: 1.7rem;
  font-weight: 500;
  color: #f9ab46;
  letter-spacing: 1px;
  flex-direction: rtl;
  text-align: center;
  align-items: center;
}