.btn {
  background: linear-gradient(90deg, #0077C8 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px 22px;
  font-size: 1.05rem;
  font-weight: 600;
  cursor: pointer;
  margin: 6px 0;
  transition: background 0.25s;
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  justify-content: flex-end; /* אפשר גם center או start */
}


.nav {
  margin-bottom: 24px;
}
.btn:hover {
  background: linear-gradient(90deg, #FFA300 100%);
}